/* add home page styles here */
body {
    margin: 0;
    padding: 0;
}
main {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
section {
    background-color: lightgrey;
    padding-top: 100px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}